@model Restaurant.Areas.Admin.ViewModels.MasterSocialMediumModel

@{
    ViewData["Title"] = "Create";
}

<<div class="pagetitle">
    <h1>Index</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"> <a asp-action="Index" asp-controller="MasterSocialMedium">Master Social Medium </a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                            <input asp-for="Files" class="form-control" />
                            <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterSocialMediumUrl" class="control-label"></label>
                            <input asp-for="MasterSocialMediumUrl" class="form-control" />
                            <span asp-validation-for="MasterSocialMediumUrl" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                </div>
            </div>
        </div>
        </div>
</section>

<div>
    <a asp-action="Index">Back to List</a>
</div>

