@model Restaurant.Areas.Admin.ViewModels.MasterContactUsInformationModel

@{
    ViewData["Title"] = "Create";
}

<div class="pagetitle">

    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home">Home</a></li>
            <li class="breadcrumb-item"> <a asp-action="Index" asp-controller="MasterContactUsInformation">Master Contact Us Information </a></li>
            <li class="breadcrumb-item active">Create</li>
        </ol>
    </nav>
</div>
<<section class="section">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Multi Columns Form</h5>
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MasterContactUsInformationIdesc" class="control-label"></label>
                <input asp-for="MasterContactUsInformationIdesc" class="form-control" />
                <span asp-validation-for="MasterContactUsInformationIdesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Files" class="control-label"></label>
                            <input asp-for="Files" class="form-control" />
                            <span asp-validation-for="Files" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MasterContactUsInformationRedirect" class="control-label"></label>
                <input asp-for="MasterContactUsInformationRedirect" class="form-control" />
                <span asp-validation-for="MasterContactUsInformationRedirect" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="ourLocation" class="control-label"></label>
                            <input asp-for="ourLocation" class="form-control" />
                            <span asp-validation-for="ourLocation" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="ourMail" class="control-label"></label>
                            <input asp-for="ourMail" class="form-control" />
                            <span asp-validation-for="ourMail" class="text-danger"></span>
            </div><div class="form-group">
                <label asp-for="ourphone" class="control-label"></label>
                            <input asp-for="ourphone" class="form-control" />
                            <span asp-validation-for="ourphone" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <a asp-action="Index">Back to List</a>
</div>

