@model Restaurant.Areas.Admin.ViewModels.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "_Login";

}
<form asp-action="Login" class="row g-4 needs-validation" novalidate="">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-12">
        <label asp-for="Email" class="form-label">Email</label>
            <span class="input-group-text" id="inputGroupPrepend"></span>
            <input asp-for="Email" class="form-control" required="" />
            <div class="invalid-feedback">Please enter your Email.</div>
        </div>
    <div class="col-12">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" required="" />
        <div class="invalid-feedback">Please enter your password!</div>
    </div>
   <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" asp-for="RememberMe" />
            <label class="form-check-label" for="rememberMe">Remember me</label>
        </div>
    </div>
    <div class="col-12">
        <button class="btn btn-primary w-100" type="submit">Login</button>
    </div>
    <div class="col-12">
        <p class="small mb-0">Don't have account? <a asp-action="Register">Create an account</a></p>
    </div>
</form>



